@import 'tailwindcss';

@theme {
  --color-brand-blue: #0a4aad;
  --color-brand-purple: #6c5ce0;
  --color-brand-magenta: #c750d6;

  --color-data-cyan: #5fe6e0;
  --color-data-sky: #27b7fd;
  --color-data-lilac: #b986ed;
  --color-data-lilac-light: #f3b8f7;
  --color-data-yellow: #fada77;
}

@utility bg-brand-gradient {
  background-image: linear-gradient(
    135deg,
    var(--color-brand-blue) 0%,
    var(--color-brand-purple) 50%,
    var(--color-brand-magenta) 100%
  );
}
